$backg-white:#ffffff;
$backg-blue-light:#EAF0FF;
$backg-blue-dark: #22234F;
$backg-neutre: transparent;

$main-font: "Roboto-Regular";

$md: 768px;
$sm: 560px;

$white: #ffffff;

$smokewhite: #fafafa;

$graylight: #e6e5e5;

$bluelight: #EAF0FF;

$bluedark: #22234F;

$red: #EF4D55;