body {
    font-family: $main-font;
    text-align: center;
    align-items: center;
}

h1 {
    color: $bluedark;
    font-size: 2rem;
    text-align: center;
    margin: 3rem;
    font-family: $main-font;
    border-bottom: 2px solid $red;

}
h2 {
    color: $bluedark;
    text-align: center;
    font-family: $main-font;
}

